<!--Si no estas registado en google no lo puedes usar
<iframe style="border-style: none;width: 100%; height: 1000px;" src="https://docs.google.com/spreadsheets/d/1SszT9HDYZDCTTq_Ztslic6HUesxQnZEHopOMl-uUgmI/edit#gid=0&range=A3:P12"></iframe>
-->
<iframe  style="border-style: none;width: 100%; height: 700px;" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRJWCDTlb4J6_x5tPTZl2oLlgnftTM36zcPz3TUrn2Rg7lQ3cpEnhSIM1gYCK8JXAD4nOtVhhbkbAzg/pubhtml?gid=0&amp;single=true&amp;widget=false&amp;headers=false&amp;chrome=false"></iframe>