<section >
    <div class="container">
        <div class="row">
            <div class="col-0  col-md-0 col-lg-2"></div>
            <div class="col-12  col-md-6 col-lg-4 mb-5">
                <div class="card_register">
                    <div class="card">
                        <div class="card-body text-center">
                             <form [formGroup]="menu" (ngSubmit)="onRegister()">
                                <h2 class="h3 mb-3 font-weight-nomrmal">Añadir Menú</h2>
                                 <div class="form-group">
                                    <div class="form-group">
                                        <select class="form-control" [(ngModel)]="menux.CARTA" formControlName="CARTA" required autoforcus>
                                           <!--seleccionar la tabla donde se guardaran los datos-->
                                            <option value="pizza" >Pizza</option>
                                            <option value="entrantes">Entrante</option>
                                            <option value="bebida">Bebida</option>
                                            <option value="postres">Postre</option>
                                        </select>
                                    </div>
                                     <input type='text' [(ngModel)]="menux.NOMBRE" formControlName="NOMBRE" name='nombre' placeholder="Nombre" class="form-control" >
                                     <!--dirty es que el ing ya escrito sobre este input, touched que el ing ha puesto cursor sobre input-->
                                     <!--la condicion ? delante de NOMBRE evita el error de NULL ya que el NOMBRE puede ser null o que no haya error-->    
                                     <div class="alert-danger" *ngIf="NOMBRE?.invalid && (NOMBRE?.dirty || NOMBRE?.touched)"> 
                                        <div class="container-error-message" *ngIf="NOMBRE?.errors?.['required']">
                                            Introduzca el nombre de ingrediente.
                                        </div>
                                        <div class="container-error-message" *ngIf="NOMBRE?.errors?.['maxlength']">
                                            El nombre de ingrediente es demasiado largo.
                                        </div>
                                     </div>
                                 </div>
                                 <div class="form-group">
                                    <input  type="number" [(ngModel)]="menux.PRECIO" formControlName="PRECIO" class="form-control"  placeholder="Precio">
                                    <div class="alert-danger" *ngIf="PRECIO?.invalid && (PRECIO?.dirty || PRECIO?.touched)"> 
                                       <div class="container-error-message" *ngIf="PRECIO?.errors?.['maxlength']">
                                           El precio es demasiado largo.
                                       </div>
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <input  type="text" [(ngModel)]="menux.SIZE" formControlName="SIZE" class="form-control"  placeholder="Tamaño">
                                    <div class="alert-danger" *ngIf="SIZE?.invalid && (SIZE?.dirty || SIZE?.touched)"> 
                                       <div class="container-error-message" *ngIf="SIZE?.errors?.['maxlength']">
                                           La descripción de tamaño es demasiado largo.
                                       </div>
                                    </div>
                                 </div>
                                 <div class="form-group">
                                     <input type='text' [(ngModel)]="menux.IMAGEN"  formControlName="IMAGEN"  placeholder="Imagen" class="form-control">
                                     <div class="alert-danger" *ngIf="IMAGEN?.invalid && (IMAGEN?.dirty || IMAGEN?.touched)"> 
                                        <div class="container-error-message" *ngIf="IMAGEN?.errors?.['maxlength']">
                                            Ruta a la imagen es demasiado larga.
                                        </div>
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <textarea [(ngModel)]="menux.DESCRIPCION" formControlName="DESCRIPCION"  placeholder="Descripción" class="form-control"></textarea>
                                </div>
                                
                                <div class="form-group">
                                    <select ng-reflect-model="Aceitunas Verdes,Aguacate"
                                     [hidden]="no_ingrediente" class="form-control"  [(ngModel)]="menux.INGREDIENTE" formControlName="INGREDIENTE"  multiple data-live-search="true">
                                        <option [value]="item.NOMBRE" *ngFor="let item of lista">{{item.NOMBRE}}</option>
                                    </select>
                                </div>
                               
                                 <button  type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="menu.invalid">Guardar</button>
                             </form>
                             
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card body text-center">
                        <img [src]="menux.IMAGEN == '' ? '/assets/no_image.png': menux.IMAGEN" class="card-img-top">
                        <h2> {{menux.NOMBRE == '' ? 'Nombre': menux.NOMBRE}}</h2>
                        <p>{{menux.PRECIO == '' ? 'PRECIO': menux.PRECIO}} €</p>
                        <p>{{menux.SIZE == '' ? 'TAMAÑO': menux.SIZE}}</p>
                        <p>{{menux.DESCRIPCION == '' ? 'DESCRIPCIÓN': menux.DESCRIPCION}}</p>
                        <p *ngIf="!no_ingrediente">{{menux.INGREDIENTE ? menux.INGREDIENTE : 'INGREDIENTE'}}</p>
                    </div>
                </div>
            </div>
            <div class="col-0 col-md-0  col-lg-2"></div>
         </div>
    </div>
</section> 
<section>
    <div class="container">
        <h1>Pizza</h1>
        <div class="row">
            <ng-container *ngFor="let c of pizza; let i = index;">
                <div id="cards" class="col-6 col-md-4" *ngIf="c">
                    <div class="card  margin-right margin-top">
                        <div class="card-body text-center ">
                            <img class="card-img-top"
                                [src]="pizza[i].IMAGEN == '' ? '/assets/no_image1.png': pizza[i].IMAGEN">
                            <h2 class=" card-title">{{pizza[i].NOMBRE}}</h2>
                            <div></div>
                            <div class="text-xl-right  font-weight-bold">{{pizza[i].PRECIO.toFixed(2)}}€</div>
                            <div class="text-right font-weight-light">Tamaño: {{pizza[i].SIZE}}</div>
                            <details class="text-left">
                                <summary> Ver mas</summary>
                                <div class="text-left font-weight-light font-weight-bold">{{pizza[i].DESCRIPCION}}</div>
                                <br>
                                <div class="font-weight-bold list-inline-item">Ingredientes:</div>
                                <ng-container *ngFor="let c of ingredientePizza; let j = index;">
                                    <ng-container *ngIf="pizza[i].ID_PIZZA == ingredientePizza[j].PIZZA">
                                        <div class="font-weight-normal list-inline-item">{{ingredientePizza[j].NOMBRE}},
                                        </div>
                                    </ng-container>
                                </ng-container>
                                <div></div>
                                <div class="font-weight-bold list-inline-item">Alergenos: </div>
                                <ng-container *ngFor="let c of ingredientePizza; let j = index;">
                                    <ng-container *ngIf="pizza[i].ID_PIZZA == ingredientePizza[j].PIZZA">
                                        <div class="font-weight-normal list-inline-item" *ngIf="ingredientePizza[j].ALERGENOS">
                                            {{ingredientePizza[j].ALERGENOS}}, 
                                        </div>
                                    </ng-container>
                                </ng-container>
                                <div></div>
                                <ng-container *ngFor="let c of ingredientePizza; let j = index;">
                                    <ng-container *ngIf="pizza[i].ID_PIZZA == ingredientePizza[j].PIZZA">
                                        <img id="imagen_alergeno" [src]="ingredientePizza[j].IMAGEN">
                                    </ng-container>
                                </ng-container>
                                <div></div>
                                <br>
                            </details>
                            <br>
                            <button class="btn btn-primary col-6" (click)="modificarCarta(pizza[i].CARTA, i)">Modficar</button>
                            <button class="btn btn-danger col-6" (click)="borrarCarta(pizza[i].CARTA, i)">Borrar</button>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <h1>Entrante</h1>
        <div class="row">
            <ng-container *ngFor="let c of entrante; let i = index;">
                <div id="cards" class="col-6 col-md-4" *ngIf="c">
                    <div class="card  margin-right margin-top">
                        <div class="card-body text-center ">
                            <img class="card-img-top"
                                [src]="entrante[i].IMAGEN == '' ? '/assets/no_image1.png': entrante[i].IMAGEN">
                            <h2 class=" card-title">{{entrante[i].NOMBRE}}</h2>
                            <div></div>
                            <div class="text-xl-right  font-weight-bold">{{entrante[i].PRECIO.toFixed(2)}}€</div>
                            <div class="text-right font-weight-light">Tamaño: {{entrante[i].SIZE}}</div>
                            <details class="text-left">
                                <summary> Ver mas</summary>
                                <div class="text-left font-weight-light font-weight-bold">{{entrante[i].DESCRIPCION}}</div>
                                <br>
                                <div class="font-weight-bold list-inline-item">Ingredientes:</div>
                                <ng-container *ngFor="let c of ingredienteEntrante; let j = index;">
                                    <ng-container *ngIf="entrante[i].ID_ENTRANTES == ingredienteEntrante[j].ENTRANTES">
                                        <div class="font-weight-normal list-inline-item">{{ingredienteEntrante[j].NOMBRE}},
                                        </div>
                                    </ng-container>
                                </ng-container>
                                <div></div>
                                <div class="font-weight-bold list-inline-item">Alergenos: </div>
                                <ng-container *ngFor="let c of ingredienteEntrante; let j = index;">
                                    <ng-container *ngIf="entrante[i].ID_ENTRANTES == ingredienteEntrante[j].ENTRANTES">
                                        <div class="font-weight-normal list-inline-item" *ngIf="ingredienteEntrante[j].ALERGENOS">
                                            {{ingredienteEntrante[j].ALERGENOS}}, 
                                        </div>
                                    </ng-container>
                                </ng-container>
                                <div></div>
                                <ng-container *ngFor="let c of ingredienteEntrante; let j = index;">
                                    <ng-container *ngIf="entrante[i].ID_ENTRANTES == ingredienteEntrante[j].ENTRANTES">
                                        <img id="imagen_alergeno" [src]="ingredienteEntrante[j].IMAGEN">
                                    </ng-container>
                                </ng-container>
                                <div></div>
                                <br>
                            </details>
                            <br>
                            <button class="btn btn-primary col-6" (click)="modificarCarta(entrante[i].CARTA, i)">Modficar</button>
                            <button class="btn btn-danger col-6" (click)="borrarCarta(entrante[i].CARTA, i)">Borrar</button>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>

        <h1>Bebida</h1>
        <div class="row">
            <ng-container *ngFor="let c of bebida; let i = index;">
                <div id="cards" class="col-6 col-md-4" *ngIf="c">
                    <div class="card  margin-right margin-top">
                        <div class="card-body text-center ">
                            <img class="card-img-top"
                                [src]="bebida[i].IMAGEN == '' ? '/assets/no_image1.png': bebida[i].IMAGEN">
                            <h2 class=" card-title">{{bebida[i].NOMBRE}}</h2>
                            <div></div>
                            <div class="text-xl-right  font-weight-bold">{{bebida[i].PRECIO.toFixed(2)}}€</div>
                            <div class="text-right font-weight-light">Tamaño: {{bebida[i].SIZE}}</div>
                            <details class="text-left">
                                <summary> Ver mas</summary>
                                <div class="text-left font-weight-light font-weight-bold">{{bebida[i].DESCRIPCION}}</div>
                            </details>
                            <br>
                            <button class="btn btn-primary col-6" (click)="modificarCarta(bebida[i].CARTA, i)">Modficar</button>
                            <button class="btn btn-danger col-6" (click)="borrarCarta(bebida[i].CARTA, i)">Borrar</button>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>

        <h1>Postre</h1>
        <div class="row">
            <ng-container *ngFor="let c of postre; let i = index;">
                <div id="cards" class="col-6 col-md-4" *ngIf="c">
                    <div class="card  margin-right margin-top">
                        <div class="card-body text-center ">
                            <img class="card-img-top"
                                [src]="postre[i].IMAGEN == '' ? '/assets/no_image1.png': postre[i].IMAGEN">
                            <h2 class=" card-title">{{postre[i].NOMBRE}}</h2>
                            <div></div>
                            <div class="text-xl-right  font-weight-bold">{{postre[i].PRECIO.toFixed(2)}}€</div>
                            <div class="text-right font-weight-light">Tamaño: {{postre[i].SIZE}}</div>
                            <details class="text-left">
                                <summary> Ver mas</summary>
                                <div class="text-left font-weight-light font-weight-bold">{{postre[i].DESCRIPCION}}</div>
                            </details>
                            <br>
                            <button class="btn btn-primary col-6" (click)="modificarCarta(postre[i].CARTA, i)">Modficar</button>
                            <button class="btn btn-danger col-6" (click)="borrarCarta(postre[i].CARTA, i)">Borrar</button>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</section>