
<section id="editar_empleado" class="mb-5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
                <div class="card_register">
                    <div class="card">
                        <div class="card-body text-center">
                             <form [formGroup]="ingrediente" (ngSubmit)="onRegister()">
                                <h1 class="h3 mb-3 font-weight-nomrmal">Añadir Ingrediente</h1>
                                 <div class="form-group">
                                     <input type='text' [(ngModel)]="ing.NOMBRE" formControlName="NOMBRE" name='nombre' placeholder="Ingrediente" class="form-control" autofocus>
                                     <!--dirty es que el ing ya escrito sobre este input, touched que el ing ha puesto cursor sobre input-->
                                     <!--la condicion ? delante de NOMBRE evita el error de NULL ya que el NOMBRE puede ser null o que no haya error-->    
                                     <div class="alert-danger" *ngIf="NOMBRE?.invalid && (NOMBRE?.dirty || NOMBRE?.touched)"> 
                                        <div class="container-error-message" *ngIf="NOMBRE?.errors?.['required']">
                                            Introduzca el nombre de ingrediente.
                                        </div>
                                        <div class="container-error-message" *ngIf="NOMBRE?.errors?.['maxlength']">
                                            El nombre de ingrediente es demasiado largo.
                                        </div>
                                     </div>
                                 </div>
                                 <div class="form-group">
                                    <input  type="text" [(ngModel)]="ing.ALERGENO" formControlName="ALERGENO" class="form-control"  placeholder="Alergeno">
                                    <div class="alert-danger" *ngIf="ALERGENO?.invalid && (ALERGENO?.dirty || ALERGENO?.touched)"> 
                                       <div class="container-error-message" *ngIf="ALERGENO?.errors?.['maxlength']">
                                           El nombre de alergeno es demasiado largo.
                                       </div>
                                    </div>
                                 </div>
                                 <div class="form-group">
                                     <input type='text' [(ngModel)]="ing.IMAGEN" formControlName="IMAGEN"  placeholder="Imagen de alergeno" class="form-control">
                                     <div class="alert-danger" *ngIf="IMAGEN?.invalid && (IMAGEN?.dirty || IMAGEN?.touched)"> 
                                       <div class="container-error-message" *ngIf="IMAGEN?.errors?.['maxlength']">
                                            Ruta a la imagen es demasiado larga.
                                        </div>
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <input type='checkbox'  class="form-check-input" [checked]="visible" (change)="isVisible($event)">
                                    <label class="form-check-label"> ¿Este ingrediente es un extra?</label>   
                                 </div>
                                 <div *ngIf="visible" >
                                    <div class="form-group">
                                        <input type='text' [(ngModel)]="ing.IMAGEN2" formControlName="IMAGEN2" placeholder="Imagen de extra" class="form-control">
                                        <div class="alert-danger" *ngIf="IMAGEN2?.invalid && (IMAGEN2?.dirty || IMAGEN2?.touched)"> 
                                          <div class="container-error-message" *ngIf="IMAGEN2?.errors?.['maxlength']">
                                               Ruta a la imagen es demasiado larga.
                                           </div>
                                       </div>
                                    </div>
                                    <div class="form-group">
                                        <input type='number' [(ngModel)]="ing.PRECIO" formControlName="PRECIO" name='dni' placeholder="Precio" class="form-control">
                                        <div class="alert-danger" *ngIf="PRECIO?.invalid && (PRECIO?.dirty || PRECIO?.touched)"> 
                                          
                                           <div class="container-error-message" *ngIf="PRECIO?.errors?.['maxlength']">
                                               Precio es demasiado grande.
                                           </div>
                                       </div>
                                    </div>
                                 </div>
                                 
                                 <button  type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="ingrediente.invalid">Guardar</button>
                             </form>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-4">
                <div class="card">
                    <div class="card body text-center">
                        <img [src]="ing.IMAGEN2 == '' ? '/assets/no_image.png': ing.IMAGEN2" class="card-img-top">
                        
                        <h3 class="col-12"> {{ing.NOMBRE == '' ? 'Ingrediente': ing.NOMBRE}}</h3>
                        <div class="col-12" *ngIf="visible"> {{ing.PRECIO == '' ? 'Precio': ing.PRECIO +' €'}}  </div>
                        <div class="col-10">{{ing.ALERGENO == '' ? 'Alergeno': ing.ALERGENO}}</div>
                        <img class="col-3" [src]="ing.IMAGEN == '' ? '/assets/no_image.png': ing.IMAGEN" >
                     </div>
                </div>
            </div>
         
            
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Alergeno</th>
                            <th scope="col">Img Alergeno</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Img Extra</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of arr_ingrediente; let i = index;">
                            <ng-container *ngIf="item">
                                <td scope="col">{{item.NOMBRE}}</td>
                                <td scope="col">{{item.ALERGENOS}}</td>
                                <td scope="col">
                                    <img id="img_tabla" [src]="item.IMAGEN == '' ? '/assets/no_image.png': item.IMAGEN">
                                </td>
                                <ng-container *ngIf="!arr_extra">
                                    <td scope="col"></td>
                                    <td scope="col"></td>
                                </ng-container>
                                <ng-container *ngFor="let item2 of arr_extra; let j = index;">
                                    <ng-container *ngIf="item.ID_INGREDIENTE == item2.INGREDIENTE">
                                        <td scope="col">{{item2.PRECIO.toFixed(2)}} €</td>
                                        <td scope="col">
                                            <img id="img_tabla"
                                                [src]="item2.IMAGEN == '' ? '/assets/no_image.png': item2.IMAGEN">
                                        </td>
                                    </ng-container>
                                    <ng-container *ngIf="arr_extra.length == (j + 1) && arr_ing_ex[i]">
                                        <ng-container *ngIf="item.ID_INGREDIENTE != item2.INGREDIENTE">
                                            <td scope="col"></td>
                                            <td scope="col"></td>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                                <td>
                                    <button class="btn btn-primary" (click)="modificarIngrediente(i)">Modificar</button>
                                </td>
                                <td>
                                    <button class="btn btn-danger" (click)="borrarIngrediente(i)">Borrar</button>
                                </td>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
