<section>
    <div class="container">
        <div class="row ">
            <ng-container *ngFor="let c of oferta; let i = index;">
                <div class="col-4 ">
                    <div class="card  margin-right margin-top">
                        <div class="card-body text-center ">
                            <img class="card-img-top"
                                [src]="oferta[i].IMAGEN == '' ? '/assets/no_image.png': oferta[i].IMAGEN">
                            <h3 class="card-title">{{oferta[i].NOMBRE}}</h3>
                            <div></div>
                            <div class="text-xl-right  font-weight-bold">{{oferta[i].PRECIO.toFixed(2)}}€</div>

                            <details class="text-left">
                                <summary> Ver mas</summary>
                                <ng-container *ngFor="let c of carta; let j = index">
                                    <ng-container *ngIf="carta[j].OFERTA == oferta[i].ID_OFERTA">
                                        <div class="font-weight-bold">{{carta[j].CANTIDAD}} x {{carta[j].NOMBRE}},
                                            Tamaño: {{carta[j].SIZE}}</div>
                                        <ng-container *ngFor="let c of ingrediente; let k = index">
                                            <ng-container *ngIf="carta[j].ID==ingrediente[k].ID">
                                                <ng-container *ngIf="carta[j].QUE==ingrediente[k].PE && ingrediente[k].IMAGEN">
                                                    <img id="imagen_alergeno" [src]="ingrediente[k].IMAGEN">
                                                </ng-container>
                                            </ng-container>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                                <div class="text-left font-weight-light">{{oferta[i].DESCRIPCION}}</div>
                                <div *ngIf="oferta[i].FECHA_FIN" class="text-left small">Valido hasta:
                                    {{oferta[i].FECHA_FIN | date: 'dd/MM/yyyy'}}</div>
                            </details>
                            <div class="row" [formGroup]="cantidad" >
                               <ng-container formArrayName="CANTIDAD">
                                <select class="col-4 align-left" [formControlName]="i">
                                    <option [value]="number" *ngFor="let number of [1,2,3,4,5,6,7,8,9,10]">{{number}}
                                    </option>
                                </select>
                               </ng-container>
                                <div class="col-3"></div>
                                <button type="button" class="btn btn-danger col-5 " (click)="addProducto(oferta[i].ID_OFERTA, i)">Añadir</button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</section>