#logo{
    height: 55px !important;
    width: 55px !important;
    margin-top :5px;
    margin-left :5px;
}

#logo-texto1{
    font-family: coffeExtra;
    position:relative;
    top: 3px;
    color: #F29F05;
    font-size: 1em;
}

#logo-texto2{
    font-family: coffeExtra;
    position:relative;
    top: -5px;
    color: #730202;
    font-size: 2em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#num-carrito{
    position: relative;
    top: -10px; 
    left: -47px;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%; 
    background: #730202;
    color: white;
    margin: 0px 0px 0px 20px;
    padding: 0px 0px 0px 0px;
    white-space: nowrap;
}
.nopm{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.mio{
    width: 71px !important;
}

.rotate {
    animation: rotation 5s infinite ease-in-out alternate;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

a.nav-link{
    font-size: medium;
}

.active-link{ 
    color: #730202 !important;
    font-weight: bold;
}

a.nav-link:hover{
    color: #730202 !important;
    font-weight: bold;
}

a.nav-link.text-white:hover{
    color: white !important;
    font-weight: bold;
}
 
.dropdown-item:hover{
    color: #730202 !important ;
    font-weight: bold;
   
}


.tmargin{
    margin-top: 10px;
    white-space: nowrap;
}

.navbar-nav{
    margin-left:10px;
    
}

#img-carrito{
    position:relative;
    top: -5px;
    height: 40px;
    margin-left: 5px;
 }

#img_salir{
    height: 25px;
}
 
.size{
    min-height: 60vh;  
}

footer{
    margin-top: 50px;
}

#icon{
    height: 30px;
}

.grow { transition: all .2s ease-in-out; }

.grow:hover { transform: scale(1.1); }