<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="home" routerLinkActive="active">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink="home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="private" routerLinkActive="active" id="private" style="display:block;">Private</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="admin" routerLinkActive="active" id="admin" style="display:block;">Admin</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="empleado" routerLinkActive="active" id="empleado" style="display:block;">Empleado</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="login" routerLinkActive="active">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="registrar" routerLinkActive="active"  >Registrate</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logOut()" *ngIf="isLogged" >Salir</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logOut()" routerLinkActive="active">Carrito</a>
      </li>
    </ul>
   
  </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0"> 
      <li class="nav-item active">
        <a class="nav-link" routerLink="oferta">Oferta </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="pizza">Pizza</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="entrante">Entrante</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="bebida">Bebida</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="postre">Postre</a>
      </li>
    </ul>
    
  </div>
</nav>


<div class="conteiner mt-5">
  <router-outlet></router-outlet>
</div>

