#img_carrito{
    width: 160px;
}

.border{
    margin-bottom: 30px;
}

#pest{
    margin-top: 30px;
}

#ptotal{
    margin-bottom: 50%;
}

#cantidad_color{
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%; 
    background: orangered;
    color: wheat;
    margin: 0px 0px 0px 20px;
    padding: 0px 0px 0px 0px;
   
}

.cant_total{
    position: absolute;
    bottom: 20px;
    left: -30px;
}

.ingrediente{
    position: absolute;
    bottom: 150px;
    left: 100px;
}