

<section id="editar_empleado" class="mb-5">
    <div class="container">
        <div class="row">
            <div class="col-0 col-md-1 col-lg-3 col-xl-4"></div>
            <div class="col-12 col-md-10 col-lg-6 col-xl-4">
                <div class="card_register">
                    <div class="card">
                        <div class="card-body text-center">
                             <form [formGroup]="user" (ngSubmit)="onRegister()">
                                <h1 class="h3 mb-3 font-weight-nomrmal">Añadir Empleado</h1>
                                 <div class="form-group">
                                     <input type='text' formControlName="NOMBRE" name='nombre' placeholder="Nombre" class="form-control" autofocus>
                                     <!--dirty es que el usuario ya escrito sobre este input, touched que el usuario ha puesto cursor sobre input-->
                                     <!--la condicion ? delante de NOMBRE evita el error de NULL ya que el NOMBRE puede ser null o que no haya error-->    
                                     <div class="alert-danger" *ngIf="NOMBRE?.invalid && (NOMBRE?.dirty || NOMBRE?.touched)"> 
                                        <div class="container-error-message" *ngIf="NOMBRE?.errors?.['required']">
                                            Introduzca el nombre.
                                        </div>
                                        <div class="container-error-message" *ngIf="NOMBRE?.errors?.['maxlength']">
                                            El nombre es demasiado largo.
                                        </div>
                                     </div>
                                 </div>
                                 <div class="form-group">
                                    <input  type="text" formControlName="APELLIDO" class="form-control"  placeholder="Apellidos">
                                    <div class="alert-danger" *ngIf="APELLIDO?.invalid && (APELLIDO?.dirty || APELLIDO?.touched) "> 
                                        <div class="container-error-message" *ngIf="APELLIDO?.errors?.['required']">
                                            Introduzca los apellidos.
                                        </div>
                                       <div class="container-error-message" *ngIf="APELLIDO?.errors?.['maxlength']">
                                           Los apellidos son demasiado largos.
                                       </div>
                                    </div>
                                 </div>
                                 <div class="form-group">
                                     <input type='text' formControlName="DNI" name='dni' placeholder="DNI / NIE / NIF" class="form-control">
                                     <div class="alert-danger" *ngIf="DNI?.invalid && (DNI?.dirty || DNI?.touched)"> 
                                        <div class="container-error-message" *ngIf="DNI?.errors?.['required']">
                                            Introduzca el DNI.
                                        </div>
                                        <div class="container-error-message" *ngIf="DNI?.errors?.['maxlength']">
                                            El DNI demasiado largo.
                                        </div>
                                        <div class="container-error-message" *ngIf="DNI?.errors?.['minlength']">
                                            El DNI es demasiado corto.
                                        </div>
                                        <div class="container-error-message" *ngIf="DNI?.errors?.['pattern']">
                                            No es un DNI.
                                        </div>
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <input  type="text"  formControlName="TELEFONO" class="form-control" placeholder="Teléfono">
                                    <div class="alert-danger" *ngIf="TELEFONO?.invalid && (TELEFONO?.dirty || TELEFONO?.touched)"> 
                                        <div class="container-error-message" *ngIf="TELEFONO?.errors?.['required']">
                                            Introduzca el telefono.
                                        </div>
                                        <div class="container-error-message" *ngIf="TELEFONO?.errors?.['minlength'] || TELEFONO?.errors?.['maxlength']">
                                            El telefono debe tener 9 digitos.
                                        </div>
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <input  type="email"  formControlName="EMAIL" class="form-control" placeholder="Email">
                                    <div class="alert-danger" *ngIf="EMAIL?.invalid && (EMAIL?.dirty || EMAIL?.touched)"> 
                                        <div class="container-error-message" *ngIf="EMAIL?.errors?.['required']">
                                            Introduzca el em@il.
                                        </div>
                                        <div class="container-error-message" *ngIf="EMAIL?.errors?.['maxlength']">
                                            El em@il es demasiado largo.
                                        </div>
                                        <div class="container-error-message" *ngIf="EMAIL?.errors?.['minlength']">
                                            El em@il es demasiado corto.
                                        </div>
                                        <div class="container-error-message" *ngIf="EMAIL?.errors?.['pattern']">
                                            No es un em@il.
                                        </div>
                                        <div class="container-error-message" *ngIf="EMAIL?.errors?.['notAvailable']">
                                            Este em@il ya existe.
                                        </div>
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <input  type="text" formControlName="PASS" class="form-control" placeholder="Contraseña">
                                    <div class="alert-danger" *ngIf="PASS?.invalid && (PASS?.dirty || PASS?.touched)"> 
                                        <div class="container-error-message" *ngIf="PASS?.errors?.['required']">
                                            Introduzca la contraseña.
                                        </div>
                                        <div class="container-error-message" *ngIf="PASS?.errors?.['maxlength']">
                                            La contraseña es demasiado larga.
                                        </div>
                                        <div class="container-error-message" *ngIf="PASS?.errors?.['minlength']">
                                            La contraseña es demasiado corta.
                                        </div>
                                        <div class="container-error-message" *ngIf="PASS?.errors?.['pattern']">
                                            La contraseña debe contener al menos 8 caracteres con al menos una cifra, una minúscula y una mayúscula.
                                        </div>
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <input type="text"  formControlName="DIRECCION" class="form-control"  placeholder="Dirección">
                                    <div class="alert-danger" *ngIf="DIRECCION?.invalid && (DIRECCION?.dirty || DIRECCION?.touched)"> 
                                        <div class="container-error-message" *ngIf="DIRECCION?.errors?.['required']">
                                            Introduzca la dirección.
                                        </div>
                                        <div class="container-error-message" *ngIf="DIRECCION?.errors?.['maxlength']">
                                            La dirección es demasiado larga.
                                        </div>
                                        <div class="container-error-message" *ngIf="DIRECCION?.errors?.['minlength']">
                                            La dirección es demasiado corta.
                                        </div>
                                    </div>
                                 </div>
                                 <div class="form-group">
                                     <select class="form-control"  formControlName="ROL" required>
                                        <!--no funcion selected-->
                                         <option selected value="empleado" >Empleado</option>
                                         <option value="admin">Administrador</option>
                                     </select>
                                 </div>
                                 <div class="form-group">
                                    <input type='text' formControlName="FECHA_ALTA" name='fecha_alta' placeholder="Fecha de alta" class="form-control" onfocus="(this.type='date')">
                                 </div>
                                 <button  type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="user.invalid">Guardar</button>
                             </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
              <div class="col-12 auto-mx">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">DNI</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Contraseña</th>
                    <th scope="col">Fecha Alta</th>
                    <th scope="col">Dirección</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of empleado; let i = index;">
                    <td>{{empleado[i].NOMBRE}}</td>
                    <td>{{empleado[i].APELLIDO}}</td>
                    <td>{{empleado[i].DNI}}</td>
                    <td>{{empleado[i].EMAIL}}</td>
                    <td>{{empleado[i].TELEFONO}}</td>
                    <td>{{empleado[i].ROL}}</td>
                    <td>{{empleado[i].PASS}}</td>
                    <td>{{empleado[i].FECHA_ALTA | date:'dd/MM/yyyy'}}</td>
                    <td>{{empleado[i].DIRECCION}}</td>
                    <td>
                        <button class="btn btn-primary" (click)="modificarEmpleado(i)">Modificar</button>
                    </td>
                    <td>
                        <button class="btn btn-danger" (click)="borrarEmpleado(i)">Borrar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
        </div>
    </div>
   
</section>