<section>
    <div class="container">
        <div class="row">
            <div class="col-0 col-md-1 col-xl-2"></div>
            <div class="card col-12 col-md-10 col-xl-8">
                <div class="card-body ">
                    <form>
                        <h1 class=" col-12 text-center card-title">Pago</h1>
                        <!--lista de compra-->
                        <div class="row compra">
                            <ng-container *ngFor="let c of compra; let i = index;">
                                <ng-container *ngFor="let c of counter(compra[i].CANTIDAD); let j = index;">
                                    <br>
                                    <!--OFERTA-->
                                    <div *ngIf="compra[i].QUE=='O'" class="col-12 border border-primary">
                                        <br>
                                        <div class="row">
                                        <div class="text-left col-12 text-nowrap">Oferta:</div>
                                        <div class="col"></div>
                                        <div class="col-11 text-left font-weight-bold"><u>{{compra[i].NOMBRE}}</u></div>
                                        <ng-container *ngFor="let oferta of listaOferta; let k = index;">
                                            <ng-container *ngIf="listaOferta[k].OFERTA == compra[i].ID">
                                                <ng-container
                                                    *ngFor="let item of counter(listaOferta[k].CANTIDAD/compra[i].CANTIDAD); let z = index;">
                                                    <div class="col-2"></div>
                                                    <div class="text-left col-10 font-weight-bold">
                                                        {{listaOferta[k].NOMBRE}}</div>
                                                    <ng-container *ngFor="let item of mod; let m = index;">
                                                        <ng-container
                                                            *ngIf="(compra[i].ID == mod[m].OFERTA && listaOferta[k].PIZZA == mod[m].PIZZA && mod[m].PIZZA) ||
                                                       (compra[i].ID == mod[m].OFERTA && listaOferta[k].ENTRANTES == mod[m].ENTRANTES && mod[m].ENTRANTES)">
                                                       <ng-container *ngFor="let item of arr_mod; let l = index">
                                                        <ng-container
                                                            *ngIf="arr_mod[l][0] && arr_mod[l][4] == m && arr_mod[l][3]==j && arr_mod[l][5] == mod[m].NUM_MOD && mod[m].COMENTARIO">
                                                            <div class="col-4"></div>
                                                            <div class="col-3 font-weight-bold text-nowrap"><em>Comentario:</em></div>
                                                            <div class="col-5">{{mod[m].COMENTARIO}}</div>
                                                        </ng-container>
                                                        <ng-container
                                                            *ngIf="arr_mod[l][4] == m && arr_mod[l][3]==j && arr_mod[l][5] == mod[m].NUM_MOD && mod[m].NOMBRE">
                                                            <ng-container *ngIf="(l==0 || (l > 0 && arr_mod[l][5]!=arr_mod[l-1][5])) ">
                                                                <div class="col-4"></div>
                                                                <div class="col-8 font-weight-bold text-left">
                                                                    <em>Extra:</em>
                                                                </div>
                                                            </ng-container>
                                                            <div class="col-5"></div>
                                                            <div class="col-7 text-left">- {{mod[m].NOMBRE}}
                                                            </div>
                                                        </ng-container>
                                                    </ng-container>
                                                        </ng-container>
                                                    </ng-container>
                                                </ng-container>
                                            </ng-container>
                                        </ng-container>
                                    </div>
                                   </div>
                                    
                                   
                                    <!--PIZZA-->
                                    <div *ngIf="compra[i].QUE=='P'" class="col-12 border border-primary">
                                        <br>
                                        <div class="row">
                                        <div class="text-left col-2 text-nowrap">Pizza:</div>
                                        <div class="col-10 text-left font-weight-bold"><u>{{compra[i].NOMBRE}}</u></div>
                                        <ng-container *ngFor="let item of mod; let m = index;">
                                            <ng-container *ngIf="(compra[i].ID == mod[m].PIZZA)">
                                                <ng-container *ngFor="let item of arr_mod; let l = index">
                                                    <ng-container
                                                        *ngIf="!arr_mod[l][0] && arr_mod[l][4] == m && arr_mod[l][3]==j && arr_mod[l][5] == mod[m].NUM_MOD && mod[m].COMENTARIO && !mod[m].OFERTA">
                                                        <div class="col-4"></div>
                                                        <div class="col-3 font-weight-bold text-nowrap"><em>Comentario:</em></div>
                                                        <div class="col-5">{{mod[m].COMENTARIO}}</div>
                                                    </ng-container>
                                                    <ng-container
                                                        *ngIf="arr_mod[l][4] == m && arr_mod[l][3]==j && arr_mod[l][5] == mod[m].NUM_MOD && mod[m].NOMBRE && !mod[m].OFERTA">
                                                        <ng-container *ngIf="l==0 || (l > 0 && arr_mod[l][5]!=arr_mod[l-1][5])">
                                                            <div class="col-4"></div>
                                                            <div class="col-8 font-weight-bold text-left">
                                                                <em>Extra:</em>
                                                            </div>
                                                        </ng-container>
                                                        <div class="col-5"></div>
                                                        <div class="col-7 text-left">- {{mod[m].NOMBRE}}
                                                        </div>
                                                    </ng-container>
                                                </ng-container>
                                            </ng-container>
                                        </ng-container>
                                    </div>
                                   </div>

                                    <!--ENTRANTES-->
                                    <div *ngIf="compra[i].QUE=='E'" class="col-12 border border-primary">
                                        <br>
                                        <div class="row">
                                        <div class="text-left col-2 text-nowrap">Entrante:</div>
                                        <div class="col-10 text-left font-weight-bold"><u>{{compra[i].NOMBRE}}</u></div>
                                        <ng-container *ngFor="let item of mod; let m = index;">
                                            <ng-container *ngIf="(compra[i].ID == mod[m].ENTRANTES)">
                                                <ng-container *ngFor="let item of arr_mod; let l = index">
                                                    <ng-container
                                                        *ngIf="!arr_mod[l][0] && arr_mod[l][4] == m && arr_mod[l][3]==j && arr_mod[l][5] == mod[m].NUM_MOD && mod[m].COMENTARIO && !mod[m].OFERTA">
                                                        <div class="col-4"></div>
                                                        <div class="col-3 font-weight-bold text-nowrap"><em>Comentario:</em></div>
                                                        <div class="col-5">{{mod[m].COMENTARIO}}</div>
                                                    </ng-container>
                                                    <ng-container
                                                        *ngIf="arr_mod[l][4] == m && arr_mod[l][3]==j && arr_mod[l][5] == mod[m].NUM_MOD && mod[m].NOMBRE && !mod[m].OFERTA">
                                                        <ng-container *ngIf="l==0 || (l > 0 && arr_mod[l][5]!=arr_mod[l-1][5])">
                                                            <div class="col-4"></div>
                                                            <div class="col-8 font-weight-bold text-left">
                                                                <em>Extra:</em>
                                                            </div>
                                                        </ng-container>
                                                        <div class="col-5"></div>
                                                        <div class="col-7 text-left">- {{mod[m].NOMBRE}}
                                                        </div>
                                                    </ng-container>
                                                </ng-container>
                                            </ng-container>
                                        </ng-container>
                                    </div>
                                   </div>

                                    <!--BEBIDA-->
                                    <div *ngIf="compra[i].QUE=='B'" class="col-12 border border-primary">
                                        <br>
                                       <div class="row">
                                        <div class="text-left col-2 text-nowrap">Bebida:</div>
                                        <div class="col-10 text-left font-weight-bold"><u>{{compra[i].NOMBRE}}</u></div>
                                       </div>
                                    </div>
                                    
                                    <!--POSTRES-->
                                    <div *ngIf="compra[i].QUE=='PO'" class="col-12 border border-primary">
                                        <br>
                                        <div class="row">
                                            <div class="text-left col-2 text-nowrap">Postre:</div>
                                            <div class="col-10 text-left font-weight-bold"><u>{{compra[i].NOMBRE}}</u></div>
                                        </div>
                                     </div>
                                    
                                </ng-container>
                            </ng-container>

                        </div>
                        <div class="row">
                            <div class="col-4 col-md-3  text-left font-weight-bold text-nowrap">Método de pago: </div>
                            <div class="form-group  col-2 text-left">
                                <input type='checkbox' class="form-check-input" [checked]="tarjeta"
                                    (change)="tarjetaPago($event)">
                                <label class="form-check-label"> Tarjeta</label>
                            </div>
                            <div class="form-group col-2 text-left">
                                <input type='checkbox' class="form-check-input" [checked]="efectivo"
                                    (change)="efectivoPago($event)">
                                <label class="form-check-label"> Ejectivo</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-md-3"></div>
                            <div class="form-group col-3 col-md-2">
                                <input type='checkbox' class="form-check-input" [checked]="domicilio"
                                    (change)="aDomicilio($event)">
                                <label class="form-check-label text-nowrap">A domicilio</label>
                            </div>
                            <div class="form-group col-4">
                                <input type='checkbox' class="form-check-input" [checked]="recoger"
                                    (change)="aRecoger($event)">
                                <label class="form-check-label text-nowrap">Recoger en Restaurante</label>
                            </div>
                        </div>
                        <div class="alert alert-success text-center" role="alert" *ngIf="recoger">
                            Normalmente los pedidos tardan 30 minutos.
                        </div>

                        <div class="row" *ngIf="domicilio">
                            <div class="col-12 text-left font-weight-bold direccion">Dirección: {{direccion}}</div>
                        </div>


                        <div class="row">
                            <div class="col-12 col-sm-6 text-center">
                                <h1 class="col-12 text-nowrap">Precio Total: {{precioTotal.toFixed(2)}}€*</h1>
                            </div>
                            <div class="col-12 col-sm-6 text-center" *ngIf="tarjeta">
                                <button class="col-12 btn btn-primary align-right" (click)="guardarPago()">Pagar</button>
                            </div>
                            <div class="col-12 col-sm-6 text-center" *ngIf="efectivo">
                                <button class="col-12 btn btn-success " (click)="guardarPago()">Reservar</button>
                            </div>
                        </div>
                    </form>
                </div>
                <p>(*) El precio total inclue el IVA.</p>
            </div>
        </div>
    </div>
</section>