.nopmlr{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.nopmtb{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.border{
    margin-bottom: 30px;
}

#pest{
    padding-left: 50px;
}


#cantidad_color{
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%; 
    background: orangered;
    color: wheat;
    margin: 0px 0px 0px 20px;
    padding: 0px 0px 0px 0px;
   
}

.cant_total{
    position: absolute;
    bottom: -10px;
    right: -8px ;
    z-index: 1;
 }

.cant_total1{
    position: absolute;
    bottom: -10px;
    right: 20px ;
    z-index: 1;
}

.ingrediente{
    position: absolute;
    left: 5em;
    z-index: 1;
}

