<section>
    <div class="conteiner">
        <div class="row">
          
           <div class="col-sm-1 col-0"></div>
            <form class="col-sm-10 col-12 text-center mb-5">
                <button routerLink="../admin/edhorario" type="button" class="btn mt-2 mr-2 btn-outline-primary">Editar Horario</button>
                <button routerLink="../admin/edempleado" type="button" class="mr-2 mt-2 btn btn-outline-primary">Añadir Empleado</button>
                <button  routerLink="../admin/edcarta" type="button" class="mr-2 mt-2 btn btn-outline-primary">Añadir Carta</button>
                <button  routerLink="../admin/edoferta" type="button" class="mr-2 mt-2 btn btn-outline-primary">Añadir Oferta</button>
                <button  routerLink="../admin/edingrediente" type="button" class="mr-2 mt-2 btn btn-outline-primary">Añadir Ingrediente</button>
                <!--<button  routerLink="../admin/edsalon" type="button" class="btn btn-outline-primary">Editar Salon</button>-->
            </form>
        </div>
    </div>
</section>
<router-outlet></router-outlet>
