<section>
    <div class="conteiner">
        <div class="row">
           <div class="col-2"></div>
            <form >
                <button routerLink="../admin/edhorario" type="button" class="btn btn-outline-primary">Editar Horario</button>
                <button routerLink="../admin/edempleado" type="button" class="btn btn-outline-primary">Añadir Empleado</button>
                <button  routerLink="../admin/edcarta" type="button" class="btn btn-outline-primary">Añadir Carta</button>
                <button  routerLink="../admin/edoferta" type="button" class="btn btn-outline-primary">Añadir Oferta</button>
                <button  routerLink="../admin/edingrediente" type="button" class="btn btn-outline-primary">Añadir Ingrediente</button>
                <button  routerLink="../admin/edsalon" type="button" class="btn btn-outline-primary">Editar Salon</button>
            </form>
        </div>
    </div>
</section>
<router-outlet></router-outlet>
