<section>
    <div class="conteiner">
        <div class="row">
           <div class="col-2"></div>
            <form >
                <button routerLink="../empleado/horario" type="button" class="btn btn-outline-primary">Horario</button>
                <button routerLink="../empleado/salon" type="submit" class="btn btn-lg btn-primary">Salon</button>
                <button  routerLink="../empleado/cocina" type="submit" class="btn btn-lg btn-primary ">Cocina</button>
            </form>
        </div>
    </div>
</section>
<router-outlet></router-outlet>