<section id="editar_empleado" class="mb-5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 mx-auto">
                <div class="card_register">
                    <div class="card">
                        <div class="card-body text-center">
                            <form [formGroup]="menu" (ngSubmit)="onRegister()">
                                <h1 class="h3 mb-3 font-weight-nomrmal">Añadir Oferta</h1>


                                <div class="form-group">
                                    <input type='text' [(ngModel)]="menux.NOMBRE" formControlName="NOMBRE" name='nombre'
                                        placeholder="Nombre" class="form-control">
                                    <!--dirty es que el ing ya escrito sobre este input, touched que el ing ha puesto cursor sobre input-->
                                    <!--la condicion ? delante de NOMBRE evita el error de NULL ya que el NOMBRE puede ser null o que no haya error-->
                                    <div class="alert-danger"
                                        *ngIf="NOMBRE?.invalid && (NOMBRE?.dirty || NOMBRE?.touched)">
                                        <div class="container-error-message" *ngIf="NOMBRE?.errors?.['required']">
                                            Introduzca el nombre de ingrediente.
                                        </div>
                                        <div class="container-error-message" *ngIf="NOMBRE?.errors?.['maxlength']">
                                            El nombre de ingrediente es demasiado largo.
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="number" [(ngModel)]="menux.PRECIO" formControlName="PRECIO"
                                        class="form-control" placeholder="Precio">
                                    <div class="alert-danger"
                                        *ngIf="PRECIO?.invalid && (PRECIO?.dirty || PRECIO?.touched)">
                                        <div class="container-error-message" *ngIf="PRECIO?.errors?.['maxlength']">
                                            El precio es demasiado largo.
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input type='text' [(ngModel)]="menux.IMAGEN" formControlName="IMAGEN"
                                        placeholder="Imagen" class="form-control">
                                    <div class="alert-danger"
                                        *ngIf="IMAGEN?.invalid && (IMAGEN?.dirty || IMAGEN?.touched)">
                                        <div class="container-error-message" *ngIf="IMAGEN?.errors?.['maxlength']">
                                            Ruta a la imagen es demasiado larga.
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input type='text'  formControlName="FECHA_FIN" onfocus="(this.type='date')"
                                    placeholder="Fecha final de la oferta" class="form-control">
                                </div>

                                <div class="form-group">
                                    <textarea [(ngModel)]="menux.DESCRIPCION" formControlName="DESCRIPCION"
                                        placeholder="Descripción" class="form-control"></textarea>
                                </div>
                                
                                <div *ngFor="let C of CARTA.controls; let i=index;">
                                    <ng-container formArrayName="CARTA" >
                                        <div class="form-group form-inline">
                                            <select class="form-control col-11" [formControlName]="i" required
                                                autoforcus>
                                                <option value="pizza">Pizza</option>
                                                <option value="entrantes">Entrante</option>
                                                <option value="bebida">Bebida</option>
                                                <option value="postres">Postre</option>
                                            </select>
                                            <div class="col-1 " (click)="deleteDiv(i)">x</div>
                                        </div>
                                     </ng-container>
                               

                                <div class="form-inline form-group">
                                    <ng-container formArrayName="CANTIDAD">
                                       <input class="form-control col-3" type="number" [formControlName]="i">
                                    </ng-container>
                                    <ng-container formArrayName="NOMBRE_PLATO">
                                        <select class="form-control col-9" [formControlName]="i">
                                            <option [value]="item" *ngFor="let item of select_carta[i]">{{item}}</option>
                                        </select>
                                    </ng-container>
                                </div>
                               </div> 
                   

                        <button type="button" (click)="crearDiv()">new</button>

                        <button type="submit" class="btn btn-lg btn-primary btn-block"
                            [disabled]="menu.invalid">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col 4">
            <div class="card">
                <div class="card body text-center">
                    <img [src]="menux.IMAGEN == '' ? '/assets/no_image.png': menux.IMAGEN" class="card-img-top">
                    <h3> {{menux.NOMBRE == '' ? 'NOMBRE': menux.NOMBRE}}</h3>
                    <p>{{menux.PRECIO == '' ? 'PRECIO': menux.PRECIO}} €</p>
                    <p>{{menux.DESCRIPCION == '' ? 'DESCRIPCIÓN': menux.DESCRIPCION}}</p>

                </div>
            </div>
        </div>


    </div>
    </div>
</section>